@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap");
@import "_variables.scss";
@import "_mixins.scss";

// FORMATEO DEL HTML

:root {
	scroll-behavior: smooth;
}

html {
	line-height: 1.15;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: $color-secondary;
	border: 1px solid white;
	border-radius: 25px;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

// CURSOR DEL AUTO EN EL BODY

body {
	cursor: url("../cursor/Car\ \(716\).cur"), pointer;
}

// ESTILOS DE CABECERA

.head-page {
	position: fixed;
	width: 100vw;
	top: 0%;
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: $color-primary;
	padding: 0.5rem;
	@media screen and (max-width: $medium) {
		position: initial;
		width: initial;
		@include flexColumnCenterCenter;
	}
	@media screen and (max-width: $extra-small) {
		position: initial;
		width: initial;
		@include flexColumnCenterCenter;
	}
}

.flags {

	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 1rem;
	padding: 1rem;
}

.flag-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: $font-secondary;
	font-size: small;	
	color: white;
}

.flags img {
	display: block;
	cursor: pointer;
}

.nav {
	@media screen and (max-width: $extra-small) {
		@include flexColumnCenterCenter;
	}
}

.logo-head {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 1rem;
	@media screen and (max-width: $medium) {
		@include flexColumnCenterCenter;
	}
}

h1 {
	font-family: $font-primary;
	color: $color-secondary;
	animation: pulse 2s 2 alternate-reverse;
}

@keyframes pulse {
	0% {
		color: white;
	}
	100% {
		color: $color-secondary;
	}
}

.navbar-head {
	@media screen and (max-width: $extra-small) {
		border-top: 1px solid #ffffff10;
		font-size: small;
		@include flexRowCenterCenter;
	}
}

.nav-link:link,
.nav-link:active,
.nav-link:visited {
	text-decoration: none;
	color: $color-secondary;
	transition: color 1s;
}

.nav-link:hover {
	color: white;
}

// ESTILOS DEL WELCOME IMAGE

.welcome-main {
	max-width: 100vw;
	row-gap: 1rem;
}

.carousel-control-next,
.carousel-control-prev {
	z-index: 0;
}

// ESTILOS DE LA PRESENTACION Y DESCRIPCION

.description {
	display: flex;
	@include flexColumnCenterCenter;
	padding: 3rem;
	background-color: $color-secondary;
	color: black;
}

.description h2 {
	font-family: $font-primary;
	font-size: 35px;
	margin: 1rem;
}

.description p {
	font-family: $font-secondary;
	font-size: larger;
}

.quote {
	font-style: italic;
	font-family: $font-secondary;
	font-size: larger;
}

.founder-name {
	margin: 1rem;
	font-size: large;
}

.hours {
	animation: pulse 1s infinite alternate;
}

@keyframes pulse {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

// ESTILOS DE LA SECCION DE SERVICIOS

.services {
	background-color: $color-primary;
	color: $color-secondary;
	text-align: center;
	padding: 3rem;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;
	@media screen and (max-width: $medium) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 2rem;
	}
}

.services h2 {
	margin: 1rem;
	align-self: center;
}

.card {
	width: 18rem;
	background-color: $color-secondary;
	color: black;
	border: $color-primary;
	transition: border 1s;
	margin: 1rem;
}

.card:hover {
	border: 3px solid white;
}

.card h3 {
	font-size: 25px;
	font-family: $font-primary;
}

.card p {
	font-weight: 200;
	font-family: $font-secondary;
}

.card a {
	color: black;
}

.card-urban {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
	align-items: center;
}

// ESTILOS DE LA SECCION DE OPINIONES

.opinions-container {
	background-color: $color-secondary;
	color: black;
	display: flex;
	@include flexColumnCenterCenter;
	padding: 3rem;
}


.elfsight-app-7006c419-e143-428b-b948-b5db6c686b05 {
	z-index: 0;
	max-width: 90vw;	
	padding: 2rem;
	margin: 1rem;
	@media screen and (max-width: $medium) {
		max-width: 100vw;
	}
}

.WidgetTitle__Header-sc-ruy1gu-2 {
	display: none;
}

.elfsight-app-7006c419-e143-428b-b948-b5db6c686b05 a {
	display: none;
}

.opinions-people {
	max-width: 90vw;

}

// ESTILOS DE LA SECCION DE CONTACTO

.contact {
	background-color: $color-primary;
	color: white;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
	row-gap: 2rem;
	text-align: center;
}


.contact-option {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
	padding: 1rem;
	background-color: $color-secondary;
	color: black;
	border-radius: 20px;
}

.contact-option a:link,
.contact-option a:visited,
.contact-option a:active {
	text-decoration: none;
	color: black;
	transition: 1s all;
}

.contact-option a:hover {
	color: white;
}

// ESTILOS DEL MAPA Y SU CONTENEDOR

.maps {
	font-family: $font-primary;
	padding: 2rem;
	color: white;
	background-color: $color-primary;
	display: flex;
	@include flexColumnCenterCenter;
	row-gap: 1rem;
}

.map-frame {
	width: 80vw;
	border-radius: 20px;
}

// ESTILOS PIE DE PAGINA

.foot {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border-top: 1px solid white;
	padding: 1rem;
	color: white;
	background-color: $color-primary;
	font-family: $font-secondary;
	@media screen and (max-width: $medium) {
		display: flex;
		@include flexColumnCenterCenter;
	}
}

// ESTILOS DEL ICONO DE WHATSAPP FLOTANTE

.whatsapp-ico {
	padding: 0.5rem;
	margin: 0.5rem;
	position: fixed;
	bottom: 0;
	right: 0;
	@media screen and (max-width: $extra-small) {
		width: 50px;
	}
}

#alert-price-quotation {
	max-width: 50vw;
	display: none;
	background-color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	color: black;
	text-align: center;
	padding: 2rem;
	margin: 1rem;
	font-family: $font-secondary;
}

#close-btn {
	cursor: pointer;
	position: absolute; 
	top: 0px; 
	right: 0px;
}

