@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300&display=swap");
@import "_variables.scss";

// FORMAT HTML, SOME GET TO NORMALIZE.CSS

:root {
	scroll-behavior: smooth;
}

html {
	line-height: 1.15;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: $color-secondary;
	border: 1px solid white;
	border-radius: 25px;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

body {
	cursor: url("../cursor/Car\ \(716\).cur"), pointer;
}

.head-page {
	position: fixed;
	width: 100vw;
	top: 0%;
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: $color-primary;
	padding: 0.5rem;
	@media screen and (max-width: $medium) {
		position: initial;
		width: initial;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	@media screen and (max-width: $extra-small) {
		position: initial;
		width: initial;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

.nav {
	@media screen and (max-width: $extra-small) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

.logo-head {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 1rem;
	@media screen and (max-width: $medium) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

h1 {
	font-family: $font-primary;
	color: $color-secondary;
	animation: pulse 2s 2 alternate-reverse;
}

@keyframes pulse {
	0% {
		color: white;
	}
	100% {
		color: $color-secondary;
	}
}

.navbar-head {
	@media screen and (max-width: $extra-small) {
		border-top: 1px solid #ffffff10;
		font-size: small;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

.nav-link:link,
.nav-link:active,
.nav-link:visited {
	text-decoration: none;
	color: $color-secondary;
	transition: color 1s;
}

.nav-link:hover {
	color: white;
}

.welcome-main {
	max-width: 100vw;
}

.img-welcome {
	width: 100%;
}

.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 3rem;
	background-color: $color-secondary;
	color: black;
}

.description h2 {
	font-family: $font-primary;
	font-size: 35px;
	margin: 1rem;
}

.description p {
	font-family: $font-secondary;
	font-size: larger;
}

.quote {
	font-style: italic;
	font-family: $font-secondary;
	font-size: larger;
}

.founder-name {
	margin: 1rem;
	font-size: large;
}

.services {
	background-color: $color-primary;
	color: $color-secondary;
	text-align: center;
	padding: 3rem;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;
	@media screen and (max-width: $medium) {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 2rem;
	}
}

.services h2 {
	margin: 1rem;
	align-self: center;
}

.card {
	width: 18rem;
	background-color: $color-secondary;
	color: black;
	border: $color-primary;
	transition: border 1s;
}

.card:hover {
	border: 3px solid white;
}

.card h3 {
	font-size: 25px;
	font-family: $font-primary;
}

.card p {
	font-weight: 200;
	font-family: $font-secondary;
}

.card a {
	color: black;
}


.opinions-container {
	background-color: $color-secondary;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 3rem;
}

.opinions-title {
	color: black;
	font-family: $font-primary;
	font-size: 25px;
}

.opinions-p {
	color: black;
	font-family: $font-secondary;
}

.opinion {
	background-color: $color-primary;
	padding: 1rem;
	border-radius: 20px;
	margin: 1rem;
	max-width: 400px;
}

.opinion h3 {
	font-family: $font-primary;
	font-weight: 700;
}

.opinion p {
	font-family: $font-secondary;
}

.opinions-people {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	@media screen and (max-width: $medium) {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
}

.contact {
	background-color: $color-primary;
	color: white;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
	row-gap: 2rem;
	text-align: center;
}

.contact-option {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
	padding: 1rem;
	background-color: $color-secondary;
	color: black;
	border-radius: 20px;
}

.contact-option a:link,
.contact-option a:visited,
.contact-option a:active {
	text-decoration: none;
	color: black;
	transition: 1s all;
}

.contact-option a:hover {
	color: white;
}

.maps {
	padding: 2rem;
	color: white;
	background-color: $color-primary;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	row-gap: 1rem;
}

.map-frame {
	width: 80vw;
}

.foot {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	border-top: 1px solid white;
	padding: 1rem;
	color: white;
	background-color: $color-primary;
	@media screen and (max-width: $medium) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

.whatsapp-ico {
	padding: 0.5rem;
	margin: 0.5rem;
	position: fixed;
	bottom: 0;
	right: 0;
	@media screen and (max-width: $extra-small) {
		width: 50px;
	}
}
